<style>
    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: auto;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        list-style: none;
    }

    .footer {
        background-color: #24262b;
        padding: 70px 0;
        min-height: 200px;
        position: relative;
        margin-top: auto;
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;
    }

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

    .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #ffffff;
    }

    .company_div {
        background-color: #e91e63;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        height: 40px;
        text-align: center;
        color: #ffffff;
       // background: linear-gradient(0deg, #f1d4e2 0%, #e91e63 100%);
    }

    .content {
        flex: 1;
    }

    /* responsive */
    @media (max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 574px) {
        .footer-col {
            width: 100%;
        }
    }
</style>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h4>company</h4>
                <ul>
                    <li><a href="/about">about us</a></li>
                    <li><a href="services">our services</a></li>
                </ul>
            </div>

            <div class="footer-col col-md-4">
                <h4>Services</h4>
                <ul>
                    <li><a href="#">ITR</a></li>
                    <li><a href="#">GST</a></li>
                    <li><a href="#">AADHARE</a></li>
                    <li><a href="#">pen</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-4">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="company_div">
        <div class="container">
            <p>&copy;2023 • <a href="/privacyPolicy" class="text-white">Privacy Policy</a> • <a href="/disclaimer"
                    class="text-white"> Disclaimer</a></p>
        </div>
    </div>
</footer>