<section id="services_section" class="py-4">
    <div class="container">
        <h1 class="text-center text-secondary">Services</h1>

        <div class="row mt-3">

            <div class="col-md-4">
                <div class="card"></div>
                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-accusoft service_icon text-secondary"></i>
                    </div>
                    <h5 class="card-title">Provide Best Cources</h5>
                    <p>here we provide the best cources which supports students to get places in to big MNC companies
                    </p>
                    <a href="#!">link</a>
                    <a href="#!" class="ml-3 ">Support</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card"></div>
                <div class="card-body">
                    <div class="container text-center">
                        <i class="fab fa-affiliatetheme service_icon text-secondary"></i>
                    </div>
                    <h5 class="card-title">Learn Project</h5>
                    <p>To get started with the Income text return and following queries</p>
                    <a href="#!">link</a>
                    <a href="#!" class="ml-3 ">Support</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card"></div>
                <div class="card-body">
                    <div class="container text-center">
                        <i class="fa-brands fa-java service_icon text-secondary"></i>
                    </div>
                    <h5 class="card-title">Java Project</h5>
                    <p>Java is a multi-platform, object-oriented, and network-centric language that can be used as a
                        platform in itself. It is a fast, secure, reliable programming language for coding everything
                        from mobile apps and enterprise software to big data applications and server-side technologies.
                    </p>
                    <a href="#!">link</a>
                    <a href="#!" class="ml-3 ">Support</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card"></div>
                <div class="card-body">
                    <div class="container text-center">
                        <i class="fa-brands fa-python service_icon text-secondary"></i>
                    </div>
                    <h5 class="card-title">Python Project</h5>
                    <p>Python is a versatile, readable, and dynamically-typed programming language known for its
                        simplicity, extensive standard library, and widespread use in web development, data science, and
                        artificial intelligence. Its clear syntax, open-source nature, and large community contribute to
                        its popularity.</p>
                    <a href="#!">link</a>
                    <a href="#!" class="ml-3 ">Support</a>
                </div>
            </div>




        </div>
    </div>
</section>